<%-include('../partials/header')-%> 
<div class="main-left">
    <h2>Add New Method</h2>
    <form action="/methods" method="POST" class="form-group">  
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Paramerters</label>
            <input type="text" name="params" class="form-control">
        </div>
        <div class="form-group">
            <label>Category<label>
            <input type="text" name="category" class="form-control">
        </div>
        <div class="form-group">
            <label>Action</label>
            <input type="text" name="action" class="form-control">
        </div>
        <div class="form-group">
            <label>Notes</label>
            <input type="text" name="notes" class="form-control">
        </div>
        <div class="form-actions">
            <button class="btn btn-dark btn-lrg" type="submit">Add Method</button>
        </div>
</form>
</div>
<%-include('../partials/sidebar')-%> 
<%-include('../partials/footer')-%>